include AUTHORS.rst CONTRIBUTING.rst LICENSE README.rst
include pixi.lock
recursive-include iss_xsample/ui *.ui
recursive-include docs *.rst conf.py Makefile make.bat
prune .pixi
prune .github
prune iss_xsample/tests
global-exclude __pycache__ *.py[cod]
